body {
    font-family: "Jost", sans-serif;
    background: lightgrey;
}

.title-font {
    font-family: "Bangers", cursive;
}

.white-back {
    background: white;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.black-box {
    border: 1px solid black;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.city-space {
    margin: 10px;
    background: lightskyblue;
    border-radius: 10px;
    padding: 10px;
}

.card-space {
    min-height: 260px;
    min-width: 185px;
}

.hidden-list {
    list-style-type: none;
}

.font-bold {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.subsection-header {
    font-weight: bold;
    font-size: 2em;
}

.bystander {
    object-fit: cover;
    width: 185px;
    height: 25px;
    object-position: top;
}

.all-master-highlight {
    font-weight: bold;
    background: #FFA726;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.game-highlight {
    font-weight: bold;
    background: #9575CD;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.vp-card-highlight {
    font-weight: bold;
    background: yellow;
    border-radius: 5px;
    color: black;
    padding: 5px;
}

.city-highlight {
    border: 5px solid red;
}

.bystander-highlight {
    font-weight: bold;
    background: purple;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.mini-header {
    font-weight: bold;
    font-size: 1.5em;
}

.city-card {
    width: 100%;
}

.modal-img {
    max-width: 350px;
    margin: 5px;
}
